<div class="container">


 <div class="row justify-content-center">
  <%= image_tag 'rogo.jpg', :size =>'500x300' %>
 </div>

<div class="row row justify-content-around mt-5">
   <%= link_to "sign up", new_user_registration_path, class: "btn-sign-up text-dark" %>
   <%= link_to "sign in", new_user_session_path, class: "btn-sign-in text-dark" %>
</div>

</div>