<div class="container">

 <div class="row justify-content-center">
  <h1>Trip Record</h1>
 </div>

<div class="row justify-content-center">
  <p>旅行の計画を立てて共有しよう</p>
</div>

<div class="row">
  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary" %>
  <%= link_to "ログイン", new_user_session_path, class: "btn btn-success" %>
</div>

</div>