<div class="container">


 <div class="row justify-content-center">
  <%= image_tag 'rogo.jpg', :size =>'500x300' %>
 </div>

<div class="row row justify-content-around mt-5">
   <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary" %>
   <%= link_to "ログイン", new_user_session_path, class: "btn btn-success" %>
</div>

</div>