@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/*フォント*/
.font-title{
 font-family: 'Poiret One', cursive;
}
/*フォローボタン*/
.btn-social-long-insta {
  /*ボタンの下地*/
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  position: relative;
  display: inline-block;
  height: 30px;/*高さ*/
  width: 120px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 15px;/*文字のサイズ*/
  line-height: 27px;/*高さと合わせる*/
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
}

.btn-social-long-insta:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;/*全体を覆う*/
  height: 100%;/*全体を覆う*/
  background: linear-gradient(150deg, rgba(23, 11, 226, 0.4), rgba(229, 229, 229, 0.4) 40%, rgba(225, 206, 212, 0.4) 60%, rgba(243, 8, 77, 0.4)) no-repeat;
}

.btn-social-long-insta .fa-instagram {
  font-size: 35px;/*アイコンサイズ*/
  position: relative;
  top: 4px;/*アイコン位置の微調整*/
}

.btn-social-long-insta span {
  display:inline-block;
  position: relative;
  transition: .5s}

.btn-social-long-insta:hover span {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}



/*ナビゲーションカラー*/
.navbar-color{
  background: linear-gradient(150deg, rgba(23, 11, 226, 0.4), rgba(229, 229, 229, 0.4) 40%, rgba(225, 206, 212, 0.4) 60%, rgba(243, 8, 77, 0.4)) no-repeat;
}



/*新規登録ボタン*/
.btn-sign-up {
  position: center;
  display: inline-block;
  font-weight: bold;
  padding: 13px 15px;
  text-decoration: none;
  background-image: linear-gradient(150deg, rgba(85, 98, 245, 0.4) 38%, rgba(134, 144, 243, 0.4) 56%, rgba(226, 230, 238, 0.4) 81%);
  transition: .4s;
}

.btn-sign-up:hover {
  background-image: linear-gradient(150deg, rgba(85, 98, 245, 0.4) 38%, rgba(134, 144, 243, 0.4) 56%, rgba(226, 230, 238, 0.4) 81%);
}



/*ログインボタン*/
.btn-sign-in {
  position: center;
  display: inline-block;
  font-weight: bold;
  padding: 13px 15px;
  text-decoration: none;
  background-image: linear-gradient(150deg, rgba(226, 230, 238, 0.4) 20%, rgba(243, 134, 162, 0.4) 43%, rgba(238, 16, 80, 0.4) 73%);
  transition: .4s;
}

.btn-sign-in:hover {
  background-image: linear-gradient(150deg, rgba(226, 230, 238, 0.4) 20%, rgba(243, 134, 162, 0.4) 43%, rgba(238, 16, 80, 0.4) 73%);
}


/*ログイン画面＆新規登録画面*/
$page-bg: white;
$light-blue: #3599FF;
$bright-blue: #68B3FF;
$light-gray: #999;
//$curve: cubic-bezier(0, 0, 0.52, 1.11);
$curve: linear;

.form{
  width: 400px;
  margin: 0 auto;
  text-align: left;
  margin-top: 80px;

  label{
    display: block;
    text-align: left;
    color: dark;
    font-size: 50px;
  }

  form{

    .text-input{
       margin-bottom: 58px;
       width: 1500px;
    }

    input[type="text"],
    input[type="password"]{
      width: 100%;
      padding: 20px 0 12px;
      padding-left: 0;
      background: none;
      color: dark;
      font-size: 15px;
      font-weight: 400;
      border: none;
      border-bottom: 1px solid $light-gray;


      /*Some sibling magic happens */
      &:focus + .separator {
       transform: scaleX(1) translateY(-2px);
         opacity: 1;
      }

    }

    input[type="submit"]{
      color: white;
      background: $light-blue;
      padding: 10px 20px;
      font-size: 15px;
      border:none;
      border-radius: 10px;
    }
  }
}

.separator {
  height:3px;
  width: 375px;
  background: $bright-blue;
  display: block;
  transform: scaleX(0) translateY(-2px);
  transform-origin: 50%;
  opacity: 0;
  transition: all .15s $curve;
}

* :focus {
  outline-color: transparent;
  outline-style: none;
}

body {
  font-family: Roboto;
  background: $page-bg;

  a {
    color: $light-blue;
    font-size: 15px;
    text-decoration: none;
  }
}

.form-bottom{
  margin-top:1.20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/*青ボタン*/
.blue-btn {
  display: inline-block;
  padding: 13px 15px;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  color: #FFF;
  background-image: linear-gradient(45deg, #4689FF 0%, #75A9FF 100%);
  transition: .4s;
}

.blue-btn:hover {
  background-image: linear-gradient(45deg, #4689FF 50%, #75A9FF 100%);
}


/*黄色ボタン*/
.yellow-btn {
  display: inline-block;
  padding: 13px 15px;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFFF55 0%, #FFFF88 100%);
  transition: .4s;
}

.yellow-btn:hover {
  background-image: linear-gradient(45deg, #FFFF55 50%, #FFFF88 100%);
}


/*白ボタン*/
.white-btn {
  display: inline-block;
  padding: 13px 15px;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  color: #FFF;
  background-image: linear-gradient(45deg, #EEEEEE 0%, #EEEEEE 100%);
  transition: .4s;
}

.white-btn:hover {
  background-image: linear-gradient(45deg, #EEEEEE 50%, #EEEEEE 100%);
}


//*赤ボタン*/
.red-btn {
  display: inline-block;
  padding: 13px 15px;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  color: #FFF;
  background-image: linear-gradient(45deg, #FF367F 0%, #FF82B2 100%);
  transition: .4s;
}

.red-btn:hover {
  background-image: linear-gradient(45deg, #FF367F 50%, #FF82B2 100%);
}

/*背景画像(javascript/images直下に入れている)*/
 body {
  background-image: url(../images/haikei.jpg); /*public/imagesの直下に画像を入れる場合「/images/haikei.jpg'」とする*/
  background-size: cover;
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
}


/*文字赤*/
 .text-red{
   color: red;
 }


/*マイページボタン*/
.btn-vertical-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 5px 11px 5px 15px;
  text-decoration: none;
  color: #67c5ff;
  transition: .4s;
}

.btn-vertical-border:before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 4px;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 3px;
  background:#67c5ff;
}

.btn-vertical-border:after {
  position: absolute;
  display: inline-block;
  content: '';
  width: 4px;
  height: 100%;
  top:0;
  left: 100%;
  border-radius: 3px;
  background:#67c5ff;
}

.btn-vertical-border:hover:before, .btn-vertical-border:hover:after {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}



/* ページネーション全体 */
.pagination{
  text-align: center;
  display: flex;
  justify-content: center;
}

/* ページネーションのspan */
.pagination span{
  text-align: center;
  width: 50px;
  font-size: 20px;
}

/* ページネーションのリンク文字（a） */
.pagination a{
  color: #818181;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  padding: 10px;
}

/* ページネーションの文字にカーソルを載せた時 */
.pagination a:hover{
  width: 50px;
  height: 50px;
  background-color: #84b8eb;
  color: #FFF;
  border-radius: 100%;
  padding: 10px;
}

/* 現在のページの数字についての表記 */
.current{
  font-weight: bold;
  color: #84b8eb;
  padding: 10px;
}



/*テーブルデザイン*/
table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 1100px;
  table-layout: fixed;
}

table tr {
  padding: .35em;
  border-bottom: 1px dotted #8EB8FF;
}
table tr:last-child{
   border-bottom: 2px solid #FF82B2;
}
table th,
table td {
  padding: 1em 10px 1em 1em;
}
tbody th {
    color: #5D99FF;
}
.txt{
   text-align: left;
   font-size: .85em;
}
.price{
   text-align: right;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
    width:100%
  }
  table th{
    display: block;
    border-right: none;
    border-bottom: 2px solid #5D99FF;
    padding-bottom: .6em;
    margin-bottom: .6em;

  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: block;
    margin-bottom: 2em;
        border-bottom: 2px solid #5D99FF;
  }

  table td {
    border-bottom: 1px solid #5D99FF;
    display: block;
    font-size: .8em;
    text-align: right;
    position: relative;
    padding: .625em .625em .625em 4em;
    border-right: none;
  }

  table td::before {
    content: attr(data-label);
    font-weight: bold;
    position: absolute;
    left: 10px;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

/*チェックボックス*/
.my-checkbox {
  display: block;
  position: relative;
  margin: 1em 0;
  padding-left: 28px;
  cursor: pointer;
  user-select: none; /* テキストの選択を防ぐ */
}

/* inputは非表示にする */
.my-checkbox input {
  display: none;
}

/* □ */
.checkmark {
  position: absolute;
  top: -15px; /* 上からの位置 */
  left: 0;
  height: 22px; /* 大きさ */
  width: 22px; /* 大きさ */
  border: solid 2px #d4dae2; /* 線 */
  border-radius: 4px;
  box-sizing: border-box;
}
/* ✓ */
.checkmark:after {
  content: "";
  position: absolute;
  left: 5px; /* チェックの位置 */
  top: 1px; /* チェックの位置 */
  width: 6px; /* チェックの大きさ */
  height: 10px; /* チェックの大きさ */
  border: solid #FFF;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0; /* 透明にしておく */
}

/* チェックが入ったときの□ */
.my-checkbox input:checked + .checkmark {
  background: #2e80ff; /* チェック時の色 */
  border-color: #2e80ff; /* チェック時の色 */
}

/* チェックが入ったときの✓ */
.my-checkbox input:checked + .checkmark:after {
  opacity: 1; /* 透明を解除 */
}