<div class="container">
<h3>ユーザー編集</h3>

  <%= form_with model: @user, url: admin_user_path(@user.id), method: :patch do |u| %>
  <div class="row mt-3">
    <p>アカウント名</p>
    <%= u.text_field :account_name %>
  </div>

  <div class="row">
    <p>メールアドレス</p>
    <%= u.text_field :email %>
  </div>

  <div class="row">
    <%= u.submit "登録" %>
  </div>

  <% end %>
</div>