<div class="container">
 <h3><b>Follows</b></h3>

 <% @user.following_user.each do |user| %>
  <div class="row">
   <div class="mr-4">
    <%= "アカウント名: #{user.account_name}" %>
   </div>
    <% if current_user.following?(user) %>
     <%= link_to 'Delete', user_relationships_path(user.id), method: :delete, class: "btn-social-long-insta" %>
    <% else %>
     <%= link_to 'Follow Me', user_relationships_path(user.id), method: :POST, class: "btn-social-long-insta" %>
    <% end %>
  </div>
 <% end %>
</div>