<div class="container">
  <h3><b>Likes List</b></h3>

    <% @like_trip_plan.each do |likes| %>
    <div class="row mt-3">
     ・<%=link_to likes.title_name, trip_plan_path(likes.id), class: "text-dark" %>
     </div>
    <% end %>
</div>