<div class="container">
  <h3><b>マイページ</b></h3>

  <div class="row">
   <div class="col-2"><p>アカウント名</p></div>
   <div class="col-10"><%= @user.account_name %></div>
  </div>

  <div><p>旅行計画投稿一覧</p></div>
  <% @trip_plans.each do |t| %>
   <div class="row">
     ・<%= link_to t.title_name, trip_plan_path(t.id) %>
   </div>
  <% end %>

  <div class="row justify-content-center">
   <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
  </div>
  <div class="row justify-content-center">
   <%= link_to "いいね一覧", likes_user_path(@user), class: "btn btn-success" %>
  </div>
</div>